<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="getMoodTest">
        <groups>
            <run>
                <include name="getMoodTestGroup"/>
            </run>
        </groups>
        <classes>
            <class name="com.itacademy.automation.BoyTest"></class>
            <class name="com.itacademy.automation.GirlTest"></class>
        </classes>
    </test>


</suite>